@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300;400&display=swap");
body {
  font-family: "Raleway", sans-serif;
  background-color: #242B33;
  color: #FFF;
  font-size: 16px;
}

a {
  color: #FFF;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
  text-decoration: none;
}
a:hover {
  color: #D4C17F;
  text-decoration: none;
}
a:link, a:visited {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0px 15px;
  width: 1140px;
}

.none {
  display: none !important;
}

.visually-hidden {
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  white-space: nowrap;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #242B33;
  color: #FFF;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heater__avatar {
  border-radius: 15%;
  max-width: 200;
  max-height: 200;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 30px;
}

.header__title {
  color: #D4C17F;
  margin: 10px 0;
  font-size: 48px;
}

.nav {
  font-size: 14px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  list-style: none;
}